<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{age}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>